/* Light mode */
:root {
  --ifm-color-primary: #5e81ac;
  --ifm-color-primary-dark: #4c678d;
  --ifm-color-primary-darker: #3b536f;
  --ifm-color-primary-light: #6a8bb5;
  --ifm-color-primary-lighter: #7ea1c3;

  --ifm-background-color: #eceff4;
  --ifm-font-color-base: #2e3440;
  --ifm-navbar-background-color: #d8dee9;
  --ifm-footer-background-color: #d8dee9;
}

/* Dark mode */
html[data-theme='dark'] {
  --ifm-color-primary: #88c0d0;
  --ifm-background-color: #2e3440;
  --ifm-font-color-base: #eceff4;
  --ifm-navbar-background-color: #3b4252;
  --ifm-footer-background-color: #3b4252;
}

/* Matches dark-mode */
html[data-theme='dark'] .footer {
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-font-color-base);
}

/* Matches light-mode */
html[data-theme='light'] .footer {
  background-color: var(--ifm-footer-background-color);
  color: var(--ifm-font-color-base);
}

/* Hide external link icons in the navbar */
.navbar__item svg use[href="#theme-svg-external-link"] {
  display: none !important;
}
